<%= render "layouts/navbar" %>
<style>
   .con{
   padding-left: 3%;
   font: 10%;
   }
   body{ 
   background-color: #E6E6FA; color: black;
   font: italic bold 35px/50px Georgia, serif;
   }
</style>

<div class="con">
      <div class="text-center">
         <h1>Your Profile</h1>
      </div><br><br>
         <h3> Name: <%=current_user.name%></h3>
         <h3>Email: <%=current_user.email%></h3>
         <h3>Contact: <%=current_user.contact%></h3>
         <h3>City: <%=current_user.city%></h3>
         <p><%= button_to "Edit",edit_user_registration_path(current_user),class:'btn btn-success' %></p>
         <p><%= button_to "Destroy",destroy_user_session_path,method: :delete , class:"btn btn-success"%></p>
         <% debugger %>
         <% if current_user.role.name == "Broker" %>
               <% current_user.properties.each do |property| %>
                  <% property.images.each do |image| %>
                      <%= image_tag image %>
                  <% end %>
                 <p>Type:<%= property.property_type.name%></p>
                  <p>Address: <%= property.address %></p>
                  <p>Size (in sqft):<%= property.size_sq_ft %></p>
                  <p>Bedrooms:<%= property.bedroom %></p>
                  <p>Bathrooms:<%= property.bathroom %></p>
                  <p>Furnishing:<%= property.furnishing %></p>
                  <p>Resident Type: <%= property.resident_type %></p>
                  <p>Listed By: <%= property.listed_by %></p>
                  <p>Rent: <%= property.rent %></p>
               <% end %>
         <% elsif current_user.role.name == "Owner" %>
               <% current_user.properties.each do |property|%>
                   <% property.images.each do |image| %>
                      <%= image_tag image %>
                  <% end %>
                 <p>Type:<%= property.property_type.name%></p>
                  <p>Address: <%= property.address %></p>
                  <p>Size (in sqft):<%= property.size_sq_ft %></p>
                  <p>Bedrooms:<%= property.bedroom %></p>
                  <p>Bathrooms:<%= property.bathroom %></p>
                  <p>Furnishing:<%= property.furnishing %></p>
                  <p>Resident Type: <%= property.resident_type %></p>
                  <p>Listed By: <%= property.listed_by %></p>
                  <p>Rent: <%= property.rent %></p>
               <% end %>
         <% end %>

</div>

