<%= render "layouts/navbar" %>
<div class="container-fluid" >
   <div class="split left">
      <br>
     <!-- <button type="button" id="property">Request properties</button> -->
      <button type="button" id="filter">Request filter</button>
      <div id="properties-filter">
        <%= render partial: "filter_partial",locals:{property: Property.new} %>

      </div>


   </div>
   <div class="split right">
      <div class="search">
         <%= form_tag(search_path,:method => "get") do%>
         <div class="input-group">
            <%= search_field_tag :search,params[:search],placeholder:"Type",class:"form-control"%>
         </div>
         <div class="input-group-btn">
            <%= button_tag "Search Here", :class =>'btn btn-info glyphicon glyphicon-search ',:address=>nil%>
         </div>
         <%end%>
      </div>
      <h2 class="text-center mb-4">Available Properties</h2>
      <br><br>
      <div id="properties-container">

        <%#= render partial: "index_partial",locals:{property: Property.new} %>
      <!-- <%#= link_to 'Load All', properties_path, id: 'load-more-btn', remote: true %> -->

      </div>
</div>
</div>



<style>
   .con{
   
   font: italic small-caps bold 20px/40px Georgia, serif;
   }
   .search{
   margin-top: 40px;
   padding-left: 84%;
   height: 8%;
   }
   .split {
   height: 100%;
   width: 80%;
   position: absolute;
   top: 0;
   padding-top: 20px;
   }
   .left {
   left: 0%;
   right: 60%;
   padding-right: 65% ;
   padding-top: 10%;
   padding-left: 1%;
   position: absolute;
   }
   .right {
   right: 0;
   position: absolute;
   }
   .centered {
   position: absolute;
   top: 50%;
   left: 20%;
   transform: translate(-50%, -50%);
   text-align: center;
   }
   body {
   background-color: #E6E6FA; color: black;
   }
   input[type=radio] {
   border: 1px solid #fff;
   padding: 0.5em;
   -webkit-appearance: none;
   }
   input[type=radio]:checked {
   background-size: 9px 9px;
   }
</style>
<script> 
   // $("#property").click(function(){
   //    $.ajax({
   //    url: '/properties',
   //    type: 'GET'
   //  });
   // });
   $("#filter").click(function(){
      $.ajax({
      url: '/properties',
      type: 'GET'
    });
   });
</script>