<%= render "layouts/navbar" %>
<div class="con">
   <h1>Property Details</h1>
   <h3>Images:</h3>
    <button class= "btn btn-success" id= "see1">hide image</button>
    <button class= "btn btn-success" id= "see2">show image</button>
   <div class="property-images" >
      <% @property.images.each do |image| %>
      <%= image_tag image ,id: "imggg" %>
      <% end %>
   </div>
  <button class= "btn btn-success" id= "see3">see full image</button>
  <button class= "btn btn-success" id= "see4">see image</button>

    <p id="demo"></p>
   <p>Type:<%= @property.property_type.name%></p>
   <p>Address: <%= @property.address %></p>
   <p>Size (in sqft):<%= @property.size_sq_ft %></p>
   <p>Bedrooms:<%= @property.bedroom %></p>
   <p>Bathrooms:<%= @property.bathroom %></p>
   <p>Furnishing:<%= @property.furnishing %></p>
   <p>Resident Type: <%= @property.resident_type %></p>
   <p>Listed By: <%= @property.listed_by %></p>
   <p>Rent: <%= @property.rent %></p>

   <% if current_user.role.name == "Broker" || current_user.role.name == "Owner" %>
   <p><%= link_to "Edit",edit_property_path(@property) , class:'btn btn-success' %></p>
   <p><%= link_to "Destroy", root_path, 
      method: :delete , class:"btn btn-success"
      %></p>
   <%end%>

   <% if current_user.role.name == "Seeker"%>
   <%= link_to "Contact Owner" ,contact_owner_property_path(@property) ,class: "btn btn-success" ,id: "abc"%>
   <%end%>
   <% if current_user.role.name == "Seeker"%>
       <button class= "btn btn-success" id= "contact_o">show image</button>
   <%end%> 
<br>
<button onclick="clickevent()" class= "btn btn-success">Reviews</button>

<div id="review">
<% @property.reviews.each do |review| %>
  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= review.comment %>
  </p>
<% end %>

</div>


 </div>

</div>
<style>
   .cas{
   width:40%;
   height:20%;
   }
   .con{
   font: italic small-caps bold 20px/40px Georgia, serif;
   padding-left: 3%;
   }
   body{ 
   background-color: #E6E6FA; color: black;
   }
  </style>

  