<h2>Add a Review:</h2>
<%= form_with model: [ @property, @property.reviews.build ] do |form| %>
  <p>
    <%= form.label :rating %><br>
    <%= form.number_field :rating %>
  </p>
  <p>
    <%= form.label :comment%><br>
    <%= form.text_area :comment %>
  </p>
   <p>
    <%= link_to "Destroy Review", [review.property, review], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
